.container {
  background-color: white;
  width: 70%;
  padding: 16px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
}
.container h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
}
.inner-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dropdown {
  width: 30%;
}
.input-content {
  width: 50%;
}
.input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-blue);
}
.inner-container .search {
  font-size: 30px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: none;
  color: var(--dark-blue);
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.inner-container button:hover {
  background-color: white;
  color: var(--dark-blue);
}

/* FILTER LETTER STYLES */
.letters-container {
  height: auto;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}
.letter {
  color: var(--dark-blue);
  font-weight: 600;
  cursor: pointer;
  padding: 0 10px;
}
.dropdown-letter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
}
.dropdown-letter-container h2 {
  font-size: 14px;
  width: 70%;
}
.dropdown-letter {
  text-align: center;
  width: 25%;
}

@media screen and (max-width: 900px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .dropdown {
    width: 100%;
    height: 40px;
  }
  .inner-container {
    flex-direction: column;
    row-gap: 12px;
  }
  .input-content {
    width: 100%;
  }
  .inner-container button {
    width: 50%;
  }
}
