:root {
  --blue: #09aae8;
  --red: #e91d23;
  --dark-blue: #1b083e;
  --blue-mid: rgba(9, 170, 232, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1s;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  color: var(--dark-blue);
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
section {
  transition: 1.5s;
}

section h1 {
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
section h1 span {
  background-color: var(--blue);
  margin: 0 2px;
  border-radius: 4px;
  padding: 0 8px;
  color: white;
  overflow: hidden;
  text-align: center;
  /* animation-name: fadeinout; */
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
section h1 space {
  margin: 0 8px;
}
section h1 img {
  height: 3rem;
}
@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  box-shadow: 0 8px 12px hsla(228, 66%, 45%, 0.1);
  display: inline-flex;
  background-color: white;
  padding: 0.7rem;
  border-radius: 50%;
  font-size: 3rem;
  z-index: 10;
  transition: 0.3s;
  border: 1px solid rgba(200, 200, 200, 0.5);
}

.scrollup:hover {
  transform: translateY(-0.25rem);
  color: hsl(228, 66%, 53%);
}
.show-scroll {
  bottom: 7rem;
}

/* DROPDOWN STYLES */

.Dropdown-root {
  position: relative;
  width: 100%;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 18px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: 700;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: var(--blue);
  color: white;
}

.Dropdown-option.is-selected {
  background-color: var(--dark-blue);
  color: white;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

@media screen and (max-width: 1200px) {
  section h1 span {
    font-size: 1.8rem;
  }
  section h1 img {
    height: 2.4rem;
  }
}
@media screen and (max-width: 760px) {
  section h1 span {
    font-size: 1.2rem;
  }
  section h1 img {
    height: 1.8rem;
  }
  section h1 space {
    margin: 0 4px;
  }
}
@media screen and (max-width: 500px) {
  section h1 span {
    font-size: 0.8rem;
  }
  section h1 img {
    height: 1.1rem;
  }
  section h1 space {
    margin: 0 2px;
  }
}
