.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 30px 60px;
  background: linear-gradient(
    300deg,
    rgba(9, 170, 232, 0.5),
    rgba(27, 8, 62, 0.6)
  );
  height: 100%;
  min-height: 500px;
}

.logocemic {
  width: 350px;
  height: 100px;
  max-width: 350px;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  transition: 0.7s;
}

.list-item {
  transition: 0.7s;
  margin: 0 16px;
  padding: 0 2px;
  border-radius: 10px;
}

.list-item a {
  padding: 4px 4px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s;
  transition: 0.7s;
}
.list-item a:hover {
  color: white;
  font-weight: 600;
}
.list-item:hover {
  background-color: var(--blue);
  transform: translateY(-5px);
}

/* BANNER SECTION */
.banner {
  background-image: url("/images/clients7.jpg");
  background-size: cover;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}
/*  */

.about {
  padding: 30px 60px;
}
.about h3 {
  font-size: 2rem;
  text-align: center;
  margin: 16px 0;
}
.about .about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 12px 0;
  transition: 0.4s;
}
.about .about-container:hover {
  box-shadow: 0 3px 20px rgb(200, 200, 200);
  transform: translateY(-5px);
}
.about .about-container p {
  margin: 16px;
  font-size: 1.1rem;
  width: 50%;
}
@media screen and (min-width: 1300px) {
  .about .about-container p {
    font-size: 1.5rem;
  }
}
.about-icon {
  background-repeat: no-repeat;
  width: 40%;
  height: 100%;
}

.contact {
  background: linear-gradient(300deg, var(--blue), var(--dark-blue));
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact h2 {
  color: white;
  font-size: 1.6rem;
  text-align: center;
}
.contact h2 span {
  text-decoration-line: underline;
  color: white;
  font-size: 2rem;
}
.contact p {
  color: white;
}
.contact h4 {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 12px 0;
  text-align: center;
}
.contact h4 span {
  color: var(--red);
  font-size: 1.2rem;
  font-weight: 500;
}
.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact form input {
  width: 100%;
  border-radius: 16px;
  outline: none;
  border: 0;
  height: 40px;
  padding: 0 12px;
  font-size: 18px;
}
.contact form input[type="submit"] {
  margin: 16px 0;
  width: 70%;
  cursor: pointer;
}
.contact textarea {
  width: 100%;
  resize: none;
  height: 150px;
  border-radius: 20px;
  outline: none;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
}

.footer {
  background-color: rgba(200, 200, 200, 0.6);
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}
.footer .logo-footer {
  width: 50px;
  height: 50px;
}
.footer p {
  margin: 8px 0;
  font-size: 1.2rem;
}

.icone-seta {
  position: absolute;
  left: 50%;
  margin-top: -32px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 64px;
  height: 64px;
  background-size: 100% 100%;
  background-image: url("/images/arrow.png");
}

.icon-menu {
  display: none;
}

/* RESPONSIBLE WEBSITE */

@media screen and (max-width: 760px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px 16px;
  }

  .icon-menu {
    display: block;
    margin-right: 10px;
    cursor: pointer;
    font-size: 29px;
    position: absolute;
    color: white;
    top: 24px;
    right: 16px;
  }

  .logocemic {
    width: 150px;
    height: 50px;
  }

  .list-container {
    display: none;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 100;
    border: 0;
    top: 85px;
    left: 0;
    flex-direction: column;
    transition: 0.8s;
  }

  .list-item {
    transition: 0.7s;
    text-align: center;
    background-color: white;
    padding: 8px;
    width: 100%;
    cursor: pointer;
  }

  .list-item a {
    transition: 0.7s;
    color: var(--dark-blue);
    font-size: 20px;
    border: none;
  }

  /* BANNER SECTION */
  .banner {
    height: 400px;
    position: relative;
  }
  /*  */

  .about {
    padding: 20px 22px;
  }
  .about h3 {
    font-size: 1.4rem;
    text-align: center;
    margin: 16px 0;
  }
  .about .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .about .about-container p {
    margin: 16px;
    font-size: 0.9rem;
    width: 85%;
  }
  .about .about-icon {
    font-size: 3rem;
  }

  .contact {
    background: linear-gradient(300deg, var(--blue), var(--dark-blue));
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact h2 {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  .contact h2 span {
    text-decoration-line: underline;
    color: white;
    font-size: 1.3rem;
  }
  .contact p {
    color: white;
  }
  .contact h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 12px 0;
  }
  .contact h4 span {
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 500;
  }
  .contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact form input {
    width: 100%;
    border-radius: 16px;
    outline: none;
    border: 0;
    height: 40px;
    padding: 0 12px;
    font-size: 18px;
  }
  .contact form input[type="submit"] {
    margin: 16px 0;
    width: 70%;
    cursor: pointer;
  }
  .contact textarea {
    width: 100%;
    resize: none;
    height: 150px;
    border-radius: 20px;
    outline: none;
    padding: 16px;
    font-weight: 500;
    font-size: 12px;
  }

  .footer {
    background-color: rgba(200, 200, 200, 0.2);
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
  }
  .footer .logo-footer {
    width: 40px;
    height: 40px;
  }
  .footer p {
    margin: 8px 0;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .banner {
    height: 250px;
    position: relative;
  }
  .about .about-container p {
    font-size: 0.6rem;
  }
}
