.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 60px;
}

.logocemic {
  width: 350px;
  height: 100px;
  max-width: 350px;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  transition: 0.7s;
}

.list-item {
  transition: 0.7s;
  margin: 0 16px;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px -12px rgba(0, 0, 0, 0.75);
}

.list-item a {
  padding: 4px 10px;
  color: var(--dark-blue);
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s;
  transition: 0.7s;
}

.list-item a:hover {
  background-color: var(--blue);
  color: white;
  font-weight: 600;
}

.informations {
  background-image: url("/images/clients1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.informations .sideTitle {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 90px 60px;
}
.informations h2 {
  text-align: center;
  font-size: 2rem;
}
.informations p {
  padding: 0 30px;
  margin: 16px 0;
  font-size: 1.6rem;
}
.informations p span {
  font-size: 1.9rem;
  font-weight: 600;
  color: var(--blue);
}

.about {
  padding: 30px 60px;
}
.about h3 {
  font-size: 2rem;
  text-align: center;
  margin: 16px 0;
}
.about .about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.about .about-container p {
  margin: 16px;
  font-size: 1.5rem;
}
.about-icon {
  font-size: 3rem;
}

.banner {
  background-color: rgba(0, 0, 0, 0.001);
  padding: 30px 60px;
}

.informations h2 {
  color: var(--dark-blue);
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 12px 0;
}
.informations h2 span {
  color: var(--blue);
  font-size: 35px;
}
.double-column-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  padding: 36px 0;
  transition: 0.7s;
}
.double-column-banner:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}
.img-founder {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}
.banner p {
  margin-top: 16px;
  width: 50%;
  font-size: 1.4rem;
  color: var(--dark-blue);
  font-weight: 500;
  text-align: center;
  margin-right: 24px;
}

.contact {
  background: linear-gradient(300deg, var(--blue), var(--dark-blue));
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact h2 {
  color: white;
  font-size: 1.6rem;
}
.contact h2 span {
  text-decoration-line: underline;
  color: white;
  font-size: 2rem;
}
.contact p {
  color: white;
}
.contact h4 {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 12px 0;
}
.contact h4 span {
  color: var(--red);
  font-size: 1.2rem;
  font-weight: 500;
}
.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact form input {
  width: 100%;
  border-radius: 16px;
  outline: none;
  border: 0;
  height: 40px;
  padding: 0 12px;
  font-size: 18px;
}
.contact form input[type="submit"] {
  margin: 16px 0;
  width: 70%;
  cursor: pointer;
}

.footer {
  background-color: rgba(200, 200, 200, 0.2);
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}
.footer .logo-footer {
  width: 40px;
  height: 40px;
}
.footer p {
  margin: 8px 0;
  font-size: 1.2rem;
}

.icone-seta {
  position: absolute;
  left: 50%;
  margin-top: -32px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 64px;
  height: 64px;
  background-size: 100% 100%;
  background-image: url("/images/arrow.png");
}

.icon-menu {
  display: none;
}

@media screen and (max-width: 760px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 16px;
  }

  .icon-menu {
    display: block;
    margin-right: 10px;
    cursor: pointer;
    font-size: 29px;
  }

  .logocemic {
    width: 150px;
    height: 50px;
  }

  .list-container {
    display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    background-color: white;
    border: 0;
    top: 85px;
    left: 0;
    flex-direction: column;
    transition: 0.8s;
  }

  .list-item {
    transition: 0.7s;
    text-align: center;
    background-color: white;
    padding: 8px;
    width: 100%;
  }

  .list-item a {
    transition: 0.7s;
    color: var(--dark-blue);
    font-size: 20px;
    border: none;
  }

  .informations {
    background-image: url("/images/clients1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .informations .sideTitle {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px 20px;
  }
  .informations .sideTitle h2 {
    text-align: center;
    font-size: 1.4rem;
  }
  .informations .sideTitle h2 span {
    text-align: center;
    font-size: 1.6rem;
  }
  .informations p {
    padding: 0 30px;
    margin: 16px 0;
    font-size: 1rem;
  }
  .informations p span {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--blue);
  }

  .about {
    padding: 20px 16px;
  }
  .about h3 {
    font-size: 1.4rem;
    text-align: center;
    margin: 16px 0;
  }
  .about .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .about .about-container p {
    margin: 16px;
    font-size: 0.9rem;
    width: 80%;
  }
  .about .about-icon {
    font-size: 3rem;
  }

  .banner {
    background-color: rgba(0, 0, 0, 0.001);
    padding: 20px 16px;
  }

  .informations h2 {
    color: var(--dark-blue);
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 12px 0;
  }
  .informations h2 span {
    color: var(--blue);
    font-size: 35px;
  }
  .double-column-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    padding: 36px 0;
    transition: 0.7s;
  }
  .double-column-banner:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  }
  .img-founder {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .banner p {
    margin-top: 16px;
    width: 50%;
    font-size: 1rem;
    color: var(--dark-blue);
    font-weight: 500;
    text-align: center;
    margin-right: 24px;
  }

  .contact {
    background: linear-gradient(300deg, var(--blue), var(--dark-blue));
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact h2 {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  .contact h2 span {
    text-decoration-line: underline;
    color: white;
    font-size: 1.3rem;
  }
  .contact p {
    color: white;
  }
  .contact h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 12px 0;
  }
  .contact h4 span {
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 500;
  }
  .contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact form input {
    width: 100%;
    border-radius: 16px;
    outline: none;
    border: 0;
    height: 40px;
    padding: 0 12px;
    font-size: 18px;
  }
  .contact form input[type="submit"] {
    margin: 16px 0;
    width: 70%;
    cursor: pointer;
  }

  .footer {
    background-color: rgba(200, 200, 200, 0.2);
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
  }
  .footer .logo-footer {
    width: 40px;
    height: 40px;
  }
  .footer p {
    margin: 8px 0;
    font-size: 1.2rem;
  }
}
