.overlay-modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: white;
  outline: none;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.finish-register {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
.check-img {
  width: 20%;
  min-width: 100px;
  height: 45%;
  margin: 0 auto;
  mix-blend-mode: multiply;
}
.finish-register h3 {
  text-align: center;
  margin: 10px 0;
}
.finish-register button {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 8px;
  outline: none;
  border: none;
  transition: 0.3s;
  background-color: var(--dark-blue);
  cursor: pointer;
}
.finish-register button:active {
  color: var(--dark-blue);
  background-color: white;
}

.reset-password h3 {
  text-align: center;
  font-weight: 500;
}
.reset-password .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--dark-blue);
  margin: 50px 0 10px 0;
}
.reset-password .input-box .text-input {
  pointer-events: none;
  position: absolute;
  color: var(--dark-blue);
  font-weight: 700;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.3s;
  top: 0;
  left: 0;
}
.reset-password .input-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  box-shadow: none;
  padding: 0 10px;
  color: white;
  font-weight: 500;
  z-index: 1;
}
.reset-password input:focus + .text-input,
.reset-password input:valid + .text-input {
  top: -35px;
  left: -10px;
}

.reset-password .input-box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--dark-blue);
  transition: 0.3s;
  border-radius: 4px;
  pointer-events: none;
}

.reset-password .input-box input:focus ~ .line,
.reset-password .input-box input:valid ~ .line {
  height: 100%;
}

.reset-password .submit-container input[type="submit"] {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 8px;
  outline: none;
  border: none;
  transition: 0.3s;
  background-color: var(--dark-blue);
  cursor: pointer;
  margin: 0 auto;
}
.reset-password .submit-container input[type="submit"]:hover {
  color: white;
  background: linear-gradient(
    300deg,
    var(--dark-blue) 0%,
    rgb(33, 20, 60) 100%
  );
}
.reset-password .submit-container input[type="submit"]:active {
  background: white;
  color: var(--dark-blue);
}

/* AUTHENTICATION STYLES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(var(--dark-blue) 0%, rgba(23, 15, 39, 1) 100%);
  height: 100vh;
}
.right-side {
  position: relative;
  width: 40%;
  background: linear-gradient(
        300deg,
        rgba(255, 255, 255, 0.28) 0%,
        rgb(255, 255, 255) 100%
      )
      0% 0% / cover,
    url("/images/banner2.png") no-repeat;
}
.right-side-register {
  position: relative;
  width: 40%;
  background-image: url("/images/clients3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right-side-register::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    300deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgb(255, 255, 255) 100%
  );
}
.right-side .big-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  min-width: 200px;
  height: 30%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

/* LOGIN FORM */

.login-form {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.login-form .logo-mini {
  align-self: center;
  margin-bottom: 10px;
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  padding: 4px;
}
.login-form h2 {
  text-align: center;
  color: white;
}
.login-form .close {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.login-form .row100 {
  position: relative;
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.login-form .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}
.submit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 30px 0 20px;
  padding: 10px;
}
.login-form .submit-container input[type="submit"] {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 8px;
  outline: none;
  border: none;
  transition: 0.3s;
  background-color: white;
  cursor: pointer;
}
.login-form .submit-container input[type="submit"]:hover {
  color: white;
  background: linear-gradient(
    300deg,
    var(--dark-blue) 0%,
    rgb(33, 20, 60) 100%
  );
}
.login-form .submit-container input[type="submit"]:active {
  background: white;
  color: var(--dark-blue);
}
.login-form .submit-container span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.login-form .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: white;
  margin: 10px 0;
}
.login-form .input-box .text-input {
  pointer-events: none;
  position: absolute;
  color: white;
  font-weight: 700;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.3s;
  top: 0;
  left: 0;
}
.login-form .input-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  box-shadow: none;
  padding: 0 10px;
  color: var(--dark-blue);
  font-weight: 500;
  z-index: 1;
}
.login-form input:focus + .text-input,
.login-form input:valid + .text-input {
  top: -35px;
  left: -10px;
}

.login-form .input-box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.3s;
  border-radius: 4px;
  pointer-events: none;
}

.login-form .input-box input:focus ~ .line,
.login-form .input-box input:valid ~ .line {
  height: 100%;
}

.icon-eye {
  position: absolute;
  color: var(--dark-blue);
  font-size: 25px;
  z-index: 100;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: fit-content;
}

.login-form h3 {
  color: white;
  font-weight: 400;
  padding: 10px;
  margin-top: 10px;
}
.login-form p {
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  width: fit-content;
}
.login-form p:hover {
  text-decoration-line: underline;
}
.drop-title {
  color: white;
  padding: 0 10px;
  font-size: 16px;
}
.drop {
  padding: 10px;
}
.terms-policy {
  padding: 0 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}
.terms-policy:hover {
  text-decoration-line: none;
}
.terms-policy span {
  color: var(--red);
  opacity: 0.9;
  font-size: 17px;
  cursor: pointer;
  width: fit-content;
}
.terms-policy span:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 900px) {
  .submit-container {
    margin: 30px 0;
    padding: 2px;
    text-align: right;
  }
  .right-side {
    display: none;
  }
  .right-side-register {
    display: none;
  }
  .left-side {
    width: 100%;
  }
  .modal {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .login-form .row100 {
    width: 80%;
  }
  .modal {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .login-form .row100 {
    width: 90%;
  }
  .submit-container {
    margin: 5px 10px;
  }
  .login-form .submit-container span {
    font-size: 14px;
  }
  .login-form .submit-container input[type="submit"] {
    font-size: 16px;
  }
  .login-form h3 {
    font-size: 14px;
  }
  .login-form p {
    font-size: 12px;
  }
  .terms-policy {
    margin: 10px 0;
  }
  .modal {
    width: 95%;
  }
}
