.container {
  width: 100%;
  padding: 16px;
  /* background-color: red; */
}

.card-profile {
  width: 70%;
  padding: 16px;
  min-width: 500px;
  max-width: 500px;
  margin: 32px auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.title-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin: 0 auto;
  width: 90%;
}

.cemic-logo {
  height: 25px;
  margin-bottom: 8px;
}

.card-profile h2 {
  width: 100%;
  line-height: 20px;
  font-size: 20px;
  text-align: right;
  margin: 0 auto 12px auto;
}

.card-profile .header-card {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.header-card .name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  column-gap: 8px;
  position: relative;
}

.user-image {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

.image-item {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.name-items {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-blue);
  font-weight: 500;
}

.min-devices-card {
  width: 100%;
  padding: 1px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--dark-blue);
}
.min-devices-card span {
  color: white;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* ************************ */

.container-profile h1 {
  font-size: 22px;
  text-align: center;
  background-color: white;
  width: 100%;
  padding: 0;
  border-radius: 4px;
  margin: 16px auto;
}

.patient-data-container {
  width: 100%;
  background-color: white;
  padding: 16px;
  position: relative;
}
.dates-container {
  padding: 12px 24px;
  width: 60%;
  margin: 0 auto;
}

.dates-container .cpf-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cpf-container .cpf {
  width: 60%;
}
.cpf-container .rg {
  width: 35%;
}
.cpf-container .date {
  width: 28%;
}
.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-box span {
  font-weight: 700;
  font-size: 18px;
  color: var(--dark-blue);
}
.input-box input {
  height: 40px;
  outline: none;
  border: none;
  border: 3px solid var(--dark-blue);
  padding: 0 8px;
  border-radius: 8px;
}
.datepicker {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  outline: none;
  border: none;
  border: 3px solid var(--dark-blue);
  border-radius: 8px;
  padding: 0 8px;
  position: relative;
}
.save {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-button {
  width: fit-content;
  margin: 24px 0;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  outline: none;
  border-radius: 8px;
  background-color: var(--blue);
  color: white;
  border: none;
  transition: 0.3s;
}
.save-button:hover {
  background-color: var(--dark-blue);
}

@media screen and (max-width: 1100px) {
  .dates-container {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .name-container {
    flex-direction: column;
  }
  .card-profile {
    width: 70%;
    padding: 16px;
    min-width: 400px;
    max-width: 400px;
    margin: 32px auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  .user-image {
    width: 90px;
    height: 90px;
  }
  .cemic-logo {
    height: 18px;
    margin-bottom: 6px;
  }
  .image-item {
    width: 100%;
    height: 100%;
  }
  .card-profile {
    width: 95%;
    min-width: 250px;
    margin: 16px auto;
  }
  .name-items {
    font-size: 12px;
    line-height: 22px;
  }
  .card-profile h2 {
    font-size: 14px;
  }

  .container-profile h1 {
    font-size: 20px;
  }
  .dates-container .cpf-container {
    flex-direction: column;
  }
  .cpf-container .cpf {
    width: 100%;
  }
  .cpf-container .rg {
    width: 100%;
  }
  .cpf-container .date {
    width: 100%;
  }

  .patient-data-container {
    padding: 16px;
  }
  .dates-container {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .name-container {
    flex-direction: column;
  }
  .user-image {
    width: 75px;
    height: 75px;
  }
  .cemic-logo {
    height: 18px;
    margin-bottom: 6px;
  }
  .image-item {
    width: 100%;
    height: 100%;
  }
  .card-profile {
    width: 95%;
    min-width: 250px;
    margin: 16px auto;
  }
  .name-items {
    font-size: 12px;
  }
  .card-profile h2 {
    font-size: 14px;
  }

  .container-profile h1 {
    font-size: 18px;
  }
  .dates-container {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .user-image {
    width: 60px;
    height: 60px;
  }
  .container-profile h1 {
    font-size: 14px;
  }
}
