.container {
  padding: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 32px;
}

.container .button-logout {
  height: 45px;
  width: fit-content;
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  padding: 2px 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  align-self: flex-end;
  margin: 12px 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 16px 0;
  padding: 16px;
  background: linear-gradient(
    100deg,
    white 0%,
    rgba(9, 170, 232, 0.2) 30%,
    white 80%,
    rgba(9, 170, 232, 0.2) 90%
  );
}

.header .logo {
  width: 90%;
  height: auto;
  max-height: 300px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
  column-gap: 12px;
}
.navigation .button-nav {
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}
.navigation .button-nav:hover {
  background-color: var(--blue);
}

.navigation .icon-nav {
  margin: 0 8px;
  font-size: 18px;
}

.container .button-logout .icon-logout {
  font-size: 18px;
  font-weight: 600;
}

.container h1 {
  text-align: center;
  font-size: 22px;
}

.container h2 {
  text-align: center;
  font-size: 18px;
}

.container p {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.calendar-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.button-schedule button {
  transition: 0.3s;
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  padding: 4px 8px;
  margin: 8px 0 0 0;
  border-radius: 4px;
  cursor: pointer;
}

.important-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.inner-important {
  border: 3px solid var(--red);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inner-important h3,
.inner-important p {
  color: var(--red);
  text-align: center;
}

.hours-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin: 12px 0;
}
.hours-container .inner-hours {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 8px;
}

.hours-container .inner-hours button {
  font-size: 16px;
  padding: 4px 8px;
}

.modal-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-container h2 {
  text-align: center;
  font-size: 18px;
}
.modal-container .buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
  margin: 16px 0 4px 0;
}
