.container {
  display: flex;
}
.container .register {
  border: 1.5px solid var(--dark-blue);
  padding: 8px;
  border-radius: 4px;
  width: 60%;
  margin: 32px auto;
}
.container .register h3 {
  text-align: center;
  font-size: 16px;
}

.container .register .inputs {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

@media screen and (max-width: 760px) {
  .container .register {
    width: 95%;
  }
}
